.action_buttons{
    display:grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding:0.5rem 1rem;
}
.action_buttons > a{
    text-decoration: none;
    padding:0.5rem 1.5rem;
    transition: background-color 1s;
}
.action_buttons > a:nth-of-type(1){
    background-color:#00AEEF;
    color:white;
    box-shadow:2px 2px 5px rgb(126, 126, 126);
}
.action_buttons > a:nth-of-type(2){
    color:black;
    border:2px solid rgb(126, 126, 126);
}
.action_buttons > a:nth-of-type(1):hover{
    background-color:#0190c4;
}

@media (max-width:425px){
    .action_buttons > a{
        padding:1rem 1.8rem;
    }
}