.landing{
    display:grid;
    grid-template-columns:auto auto;
    grid-template-rows:auto;
    justify-content: space-between;
    min-height:500px;
    max-width:1440px;
    margin:0rem auto;
}
.landing_info{
    padding-left:4rem;
    display:grid;
    grid-template-rows:auto auto auto auto;
    grid-template-columns:auto;
    align-content:center;
}
.landing_info h1{
    font-size:2.2rem;
    margin-bottom:3rem;
    margin-left:4rem;
}
.landing_info > h1 > span{
    color:#FED700;
}
.landing_info p{
    margin-bottom:3rem;
    position:relative;
    left:7rem;
    max-width:500px;
}
.down_arrow > img{
    width: 70px;
    position:relative;
    margin-top:4rem;
    /* top:4rem;*/
    left:5rem;
}
.landing_page_image_background{
    position:relative;
    max-width:99vw;
    overflow-y: hidden;
    overflow-x: auto;
    margin: auto;
}

@media (max-width: 1024px){
    .landing{
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    .landing_page_image_background{
        grid-area:1/1/span 1/ span 1;
    }
    .landing_info{
        grid-area:1/2 span 1/ span 1;
        padding-left: unset;
    }
    .landing_info p{
        left: unset;
        max-width: unset;
        margin:auto 1.5rem;
    }
    .landing_info h1{
        margin-top: 3rem;
        margin-left:1rem;
        margin-bottom:2rem;
        font-size:1.8rem;
    }
}
.landing_page_image > img{
    position:relative;
    right:3rem;
}
.landing_page_image_background > div:not(:nth-of-type(1)){
    position:absolute;
    z-index:-1;
    background-color:#FED700;
}
.landing_page_image_background > div:nth-of-type(2), .landing_page_image_background > div:nth-of-type(3){
    width:300px;
    height:300px;
    
    top:80px;
    left:80px;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.landing_page_image_background > div:nth-of-type(3){
    top:130px;
    opacity: 0.5;
}
.landing_page_image_background > div:nth-of-type(4){
    width:250px;
    height: 250px;
    bottom:20px;
    right:20px;
    border-radius: 125px;
}
@media (max-width: 425px){
    .landing_page_image img{
        width:800px;
    }
}