.service_right{
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows:auto;
    justify-content: center;
    padding-left:6rem;
    max-width:1440px;
    margin:0rem auto;
    min-height:90vh;
}

@media (max-width:1024px){
    .service_right{
        padding-left:unset;
    }
}
.service_right_info{
    display:grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns:auto;
    align-content:center;
    padding-left:2rem;
    padding-right:4rem;
}
@media (max-width: 1024px){
    .service_right_info{
        padding: unset;
    }
}
.service_right_info h2{
    /* color: #fdd802; */
    /* font-size:2rem; */
    font-size:1.6rem;
    margin-bottom:3rem;
    border-left:2px solid #FED700;
    padding-left:1rem;
    max-width:1440px;
}

.service_right_info p{
    margin-bottom:2rem;
    padding-left:2rem;
    /* font-weight:500; */
}

@media (max-width:425px){
    .service_left_info p{
        padding-left: unset;
        margin:auto 0.5rem 2.5rem 0.5rem;
    }
    .service_right_info .action_buttons{
        padding: 0rem;
    }
}

.service_right_image{
    position:relative;
    max-width:700px;
}

.service_right_image_background{
    max-width:95vw;
    overflow-y: hidden;
    overflow-x: auto;
    margin:auto;
}
.service_right_image > img{
    width:100%;
}
@media (max-width:1024px){
    .service_right_image{
        margin: auto;
    }
    .service_right_image_background{
        margin-bottom: 1rem;
    }
}
.service_right_image > div:nth-of-type(2){
    width:300px;
    height:300px;
    border-radius:50%;
    z-index:-1;
    position:absolute;
    bottom:5rem;
    right:3rem;
    background-color:#FED700;
}
.service_right_image > div:nth-of-type(3){
    width:220px;
    height:220px;
    border-radius:50%;
    z-index:-1;
    position:absolute;
    bottom:3rem;
    left:2rem;
    background-color:#FED700;
    opacity:0.5;
}

@media (max-width:425px){
    .service_right_info{
        margin:2rem auto 4rem auto;
        padding:0rem 1rem;
    }
    .service_right_info h2{
        margin-bottom: 1rem;
    }
    .service_right_info p{
        padding:unset;
    }
    .service_right_image > div:nth-of-type(2){
        width:250px;
        height:250px;
        border:1px solid rgb(223, 19, 19);
    }
}