.action-buttons{
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
}

.action-buttons{
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
}

.action-buttons a{
    padding: 1.5rem 3rem;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    border-radius: 40px;;
}

@media (max-width: 846px) and (min-width: 767px){
    .action-buttons a{
        padding: 1rem 1.5rem;
    }
}

@media (max-width: 455px){
    .action-buttons a{
        padding: 1rem 2rem;
    }
}

@media (max-width: 375px){
    .action-buttons a{
        padding: 1rem 1.3rem;
    }
}
.learn-more{
    background-color: white;
    color: black;

}

.contact-us{
    margin-left: auto;
    position: relative;
    overflow: hidden;
    background-color: #28a745;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    box-shadow: 1px 1px 6px rgb(60, 60, 60);
    animation: box-shadow-animation 1s linear alternate-reverse infinite;
}

@keyframes box-shadow-animation{
    0%{
        transform: scale(1);
        box-shadow: 1px 1px 6px rgb(60, 60, 60);
    }

    50%{
        transform: scale(0.99);
        box-shadow: 1px 1px 3px rgb(60, 60, 60);
    }

    100%{
        transform: scale(1);
        box-shadow: 1px 1px 6px rgb(60, 60, 60);
    }
}