.action-buttons{
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
}

.action-buttons{
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
}

.action-buttons a{
    padding: 1.5rem 3rem;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    border-radius: 40px;;
}

@media (max-width: 846px) and (min-width: 767px){
    .action-buttons a{
        padding: 1rem 1.5rem;
    }
}

@media (max-width: 455px){
    .action-buttons a{
        padding: 1rem 2rem;
    }
}

@media (max-width: 375px){
    .action-buttons a{
        padding: 1rem 1.3rem;
    }
}
.learn-more{
    background-color: white;
    color: black;

}

.contact-us{
    border:2px solid black;
    color: black;
    margin-left: auto;
    position: relative;
    overflow: hidden;
}