.landing .images{
    grid-template-columns: auto;
}

.types-of-reflector-jackets{
    max-width: 1000px;
    margin: auto;
    margin: 5rem auto;
    background-color: yellow;
    background-color: #fff306;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0px 0px 3px #eee429;
}

.types-of-reflector-jackets .banner{
    grid-template-columns: 50% 45%;
    column-gap: 2rem;
}

@media (max-width: 731px){
    .types-of-reflector-jackets{
        padding: 0rem;
    }
    .types-of-reflector-jackets .banner{
        grid-template-columns: 100%;
    }
}