.contact_us_section{
    /* background-color:rgba(15, 15, 15, 0.7); */
    background-color: rgba(255, 217, 0, 0.9);
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:1;
    display:grid;
    display:-ms-grid;
    display:-moz-grid;
    grid-template-columns: auto;
    grid-template-rows:20% 70%;
    display:none;
    transition:background-color 1s;
}

.close{
    text-align: right;
    padding:0rem 2rem;
}

.close > span{
    font-size:2.5rem;
    font-weight:lighter;
    font-weight: 300;
}

.contact_us_section > div:last-of-type{
    display:grid;
    display:-ms-grid;
    display:-moz-grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-content: center;
    background-color: transparent;
}