.what_we_do{
    display:grid;
    display:-ms-grid;
    display:-moz-grid;
    grid-template-columns: auto;
    grid-template-rows:auto;
    /* grid-column-gap: 2%; */
}

.print_image{
    width:100%;
    height:auto;
}

.print_image > img {
    width:100%;
    height:auto;
}